.header {
  width: 100%;
  height: 6rem;
  background-color: #5e72cc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  cursor: pointer;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  color: white;
  margin: 0;
  font-variant: small-caps;
}

.header ul {
  list-style: none;
  margin: 0rem;
  margin-bottom: 3rem;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  color: #170bb9;
}

.header a:active,
.header a.active {
  color: #051564;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid azure;
}


.header button:hover {
  background-color: #b6a5e5;
  color: #38015c;
}
.badge {
  font-size:medium;
  background-color: azure;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 6rem;
  margin-bottom: 3px;
  font-weight: bold;
}

.dark{
  background-color: brown;
  width: 100%;
  height: 6rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  cursor: pointer;
}
.dark ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.dark li {
  margin: 0 1rem;
}

.dark a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.dark button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.dark a:hover {
  color: #170bb9;
}

.dark a:active,
.dark a.active {
  color: #051564;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid azure;
}


.dark button:hover {
  background-color: #b6a5e5;
  color: #38015c;
}